name: Publish Crate

on:
  workflow_dispatch:

jobs:
  publish-package:
    runs-on: ubuntu-latest
    name: Publish Crate
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - name: Cargo Bump & Publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          git config --global user.email "sharun@sharunkumar.com"
          git config --global user.name "Sharun"
          sudo apt install libdbus-1-dev pkg-config
          cargo install cargo-bump
          cargo bump
          cargo check
          git add . && git commit -m "chore: bump version"
          cargo publish && git push
